<table class="table table-striped">
    <thead>
        <tr >
            <th *ngFor="#colHeading of columns">{{colHeading.title}} <a href="#"><i  class="glyphicon glyphicon-sort"(click)="changeSort(colHeading.name)"></i>
            </a></th>
        </tr>
    </thead>
    <tr *ngFor="#rowData of tableData; #i = index">
        <td>
            {{rowData.name}}
        </td>
        <td>
            {{rowData.position}}
        </td>
        <td>
            {{rowData.office}}
        </td>
        <td>
            {{rowData.ext}}
        </td>
        <td>
            {{rowData.startDate}}
        </td>
        <td>
            ${{rowData.salary}}
        </td>
        <td>
            <a [routerLink]="['Details',{id:i}]">View</a>
        </td>
    </tr>
</table>
<pagination *ngIf="config.paging"
    class="pagination-sm"
    [(ngModel)]="page"
    [totalItems]="length"
    [itemsPerPage]="itemsPerPage"
    [maxSize]="maxSize"
    [boundaryLinks]="true"
    [rotate]="false"
    (pageChanged)="onChangeTable(config, $event)"
    (numPages)="numPages = $event">
</pagination>
<pre *ngIf="config.paging" class="card card-block card-header">Page: {{page}} / {{numPages}} </pre>
